QPushButton {
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 1px;
}
  
QPushButton:hover {
  background-color: rgb(0, 119, 26);
}
  
QPushButton:pressed {
  background-color: #3e8e41;
}

QComboBox {
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 1px;
}